<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote Detail</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        .info {
            padding: 6px 8px;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Vote Detail</h1>
    <p>Vote ID: {{ vote_id }}</p>
    <p>Label: {{ vote_label }}</p>
    <p>Date: {{ vote_date }}</p>
    <p>Number of Votes: {{ total_votes }}</p>
    <p>Number of Yes: {{ total_yes }}</p>
    <p>Number of No: {{ total_no }}</p>
    <p>Number of Abstentions: {{ total_abstain }}</p>

    <!-- <h2>Votes by Political Group</h2>
    {% for group, meps in political_groups.items %}
        <h3>{{ group }}</h3>
        <ul>
            {% for mep in meps %}
                <li>{{ mep.mep_name }} (ID: {{ mep.mep_id }}): {{ mep.vote_type }}</li>
            {% endfor %}
        </ul>
    {% endfor %} -->

    <h2>Vote Distribution by Political Group</h2>
    <img src="{{ chart_groups }}" alt="Likert Plot by Political Groups">

    <!-- <h2>Votes by Country</h2>
    {% for country, meps in country_votes.items %}
        <h3>{{ country }}</h3>
        <ul>
            {% for mep in meps %}
                <li>{{ mep.mep_name }} (ID: {{ mep.mep_id }}): {{ mep.vote_type }}</li>
            {% endfor %}
        </ul>
    {% endfor %} -->

    <h2>Vote Distribution by Country</h2>
    <img src="{{ chart_countries }}" alt="Likert Plot by Countries">

    <h2>Votes in the Europe Map</h2>
    <div id="plotly-div"></div>

    <script>
        const countries = [
            {% for country in country_percentages.keys %}
                '{{ country }}',
            {% endfor %}
        ];
        console.log(countries);
    
        const in_favor_percentages = [
            {% for in_favor in country_percentages.values %}
                {{ in_favor }},
            {% endfor %}
        ];
    
        const trace1 = {
            geo: 'geo',
            type: 'choropleth',
            z: in_favor_percentages,
            showscale: true,
            locationmode: 'country names',
            locations: countries,
            zmin: 0,
            zmax: 100,
            colorscale: [
                [0, 'rgb(211, 211, 211)'], // light gray
                [1, 'rgb(0, 0, 139)'] // dark blue
            ],
            colorbar: {
                title: 'In Favor (%)',
                titleside: 'right',
                ticksuffix: '%',
                showticksuffix: 'all',
                thickness: 20
            }
        };
    
        const data = [trace1];
        const layout = {
            width: 800, // Increased width
            height: 800, // Increased height
            
            geo: {
                scope: 'europe',
                domain: {
                    x: [0, 1],
                    y: [0, 1]
                },
                lataxis: {range: [35.0, 70.0]},
                lonaxis: {range: [-25.0, 45.0]},
                showland: true,
                landcolor: 'rgb(229, 229, 229)',
                showframe: false,
                projection: {type: 'Mercator'},
                resolution: 50,
                countrycolor: 'rgb(255, 255, 255)',
                coastlinecolor: 'rgb(0, 0, 0)',
                showcoastlines: true
            },
            title: {
                text: 'Votes in the Europe Map',
                font: {
                    size: 24,
                    color: 'rgb(0, 0, 0)'
                },
                xref: 'paper',
                x: 0.5
            }
        };
    
        Plotly.newPlot('plotly-div', data, layout);
    </script>
    
    
<a href="{% url 'index' %}">Back to Search</a>
</body>
</html>
